<ul class="layout-menu">
    <ng-container *ngFor="let group of model; let i = index;">
        <li *ngIf="!group.separator" class="menu-group">
            <ul>
                <li *ngFor="let item of group.items" class="mb-2"> <!-- mb-2 ajoute une marge en bas -->
                    <a [routerLink]="item.routerLink">
                        <i class="{{item.icon}}"></i>
                        {{item.label}}
                    </a>
                </li>
            </ul>
        </li>
        <li *ngIf="group.separator" class="menu-separator"></li>
    </ng-container>
</ul>
